.form {
    margin-top: 30px;
    padding: 10px;
}

.entryDisplay {
    background-color: burlywood;
    color: black;
    margin: 5px;
    padding: 10px;
    position: relative;
    left: -45px;
}

.deleteEntry {
    position: relative;
    right: -10px;
}