.layout {
  background-color: wheat;
  background-image: url('./background-image.jpg');
  background-size: cover;
}

.App-header {
  background-color: wheat;
  height: 90px;
  padding: 15px;
}

.toolbar {
  background-color: burlywood;
  padding: 5px;
}

.timelogs {
  padding: 10px;
}